http://localhost:8080 {
    root * ./public/dogma-rising
    try_files {path} {path}.html {path}/
    file_server

    # Simple, standalone 404 rule
    handle_errors {
        rewrite * /404.html
        file_server
    }
}

http://localhost:8081 {
    root * ./public/new-world
    try_files {path} {path}.html {path}/
    file_server
}
